# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
expo-env.d.ts
